* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  margin: 0;
}

img {
  width: 100%;
}
h1 {
  color: #87a2fb;
  font-size: 2rem;
  text-align: center;
  padding-bottom: 0.6em;
}

h3 {
  font-size: 1.2rem;
  color: #eeeeee;
}

h2 {
  font-size: 1.6rem;
}

input {
  width: 100%;
  padding: 1em 0;
}
a {
  display: inline-block;
  background-color: #87a2fb;
  padding: 1em 2em;
  border-radius: 2em;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  color: #fff;
}
.qr-img-container {
  margin: 0 auto;
}
.nav-text p {
  font-size: 0.8rem;
  text-transform: uppercase;
}

.main-text p {
  font-size: 0.8rem;
  padding-bottom: 0.5em;
  text-align: center;
}

.main-text-container {
  padding-bottom: 5em;
}
.nav {
  width: 100%;
  padding: 1.5em 0;
  background-color: #87a2fb;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.main {
  width: 100%;
  padding: 2em 0;
}

.qr-result {
  padding-top: 3em;
}

/* ------- MEDIA QUERIES MEDIUM DEVICES ------- */

@media screen and (min-width: 1024px) {
  .nav {
    width: 100%;
    padding: 1.5em 0;
    background-color: #87a2fb;
  }

  .main {
    width: 100%;
    padding: 2em 0;
  }
  .container {
    display: flex;
    width: 80%;
    margin: 0 auto;
  }

  .main-text-container {
    width: 60%;
  }

  .sub-container {
    width: 35%;
    margin-left: auto;
  }
  .nav-text {
    display: block;
  }
  img {
    width: 100%;
  }
}
